<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  cacheDirectory=".cache"
  bootstrap="vendor/autoload.php"
  executionOrder="depends,defects"
  beStrictAboutOutputDuringTests="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
  colors="true"
  testdox="true"
  requireCoverageMetadata="true"
  beStrictAboutCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage/clover.xml" />
            <html outputDirectory="coverage/html" />
            <text outputFile="coverage/coverage.txt" />
            <xml outputDirectory="coverage/xml" />
        </report>
    </coverage>

    <logging>
        <junit outputFile="coverage/execution.xml" />
    </logging>

</phpunit>
